@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

main {
  height: 100vh;
}

#contenedor {
  display: flex;
}

#superior {
  display: flex;
  align-items: flex-start; /* permite que cada hijo tenga su propio margen */
  margin-bottom: 12rem;
}

#izq {
  height: 100vh;
  flex: 1;
  background-color: #0058a3;
  padding: 40px;
}

.imagen-logo {
  margin-left: 3.4rem;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.4;
  margin: 4rem;
  margin-top: 15rem;
  justify-content: center;
  align-items: center;
  color: white;
}

#cookies {
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 100;
  line-height: 1.6;
  margin: 4rem;
  margin-top: 17.2rem;
  justify-content: center;
  align-items: center;
  color: white;
}

#der {
  height: 100vh;
  flex: 1.55;
  background-color: #ffffff;
  padding: 40px;
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6;
  color: #4b4c4b;
  margin-left: 35px;
  margin-top: 8rem;
}

#codigo {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  margin-left: 2rem;
}

h5 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #4b4c4b;
  margin-left: 35px;
  margin-top: 1.5rem;
}

.formulario {
  height: 50px;
  width: 440px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 35px;
}

.recuerdame-fila {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 35px;
  margin-top: 40px;
}

.recuerdame-label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.6;
  color: #4b4c4b;
}

.recuerdame-label input {
  width: 20px;
  height: 20px;
}

.fa-solid {
  color: #929292;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

#continuar {
  margin-top: 38px;
  height: 55px;
  width: 440px;
  background-color: black;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 50px;
  margin-left: 35px;
}
